<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#">AG's Wine Shop</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
      </li>
    </ul>
</nav>

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">

  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">

        <li>
          <a href="#">Red Wine</a>
        </li>
        <li>
          <a href="#">Rose Wine</a>
        </li>
        <li>
          <a href="#">White Wine</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->


<!--PAGE CONTAINER-->
<<div class="page-container">
  <!-- HEADER DESKTOP-->
  <header class="header-desktop">
    <div class="section-content section-content-p30">
      <div class="container-fluid">

        <div class="account-wrap"></div>
      </div>
    </div>
  </header>
  <!-- END HEADER DESKTOP-->

  <app-product-list></app-product-list>


  <!-- ENDS PAGE CONTAINER -->

  <footer>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </footer>
</div>
